<div class="text-center">
    <h1>The damage of a data breach -- A Quiz</h1>
</div>
<div class="home inner-container text-center">
    <h2 class="title">Do you know the costs associated with a data breach? </h2>
    <p>Let's find out. Click the Start Quiz button below to start the quiz.</p>
    <p>You will have 2 minutes to answer 10 questions.</p>
    <button class="btn-start btn-primary" routerLink="/quiz">START QUIZ</button>
    <button class="btn-scores btn-primary" routerLink="/high-scores">HIGH SCORES</button>
</div>